/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body{
    background-color: #c5daab;
    font-family: 'Montserrat', sans-serif; 
}

/*Navigation*/
.h1 h1{
    color: black;
    font-weight: 300;
    margin-left: 2.5%;
    margin-top: 2%;
    text-decoration: wavy;
}

.navigation{
    text-decoration: none;
    margin-left: 71%;
    word-spacing: 18px;
    font-size: 30px;
    font-weight: 300;
    margin-top: -4.5%;
    margin-bottom: 2%;
}

a:link{
    text-decoration: none!important;
}

/*Image*/
img{
    width:47%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: 3.5%;
}

/*Form*/
.sign-up{
font-weight: 300;
   font-size: 17px;
   margin-left: 54%;
   margin-top: -73%;
   margin-bottom: 31%;
   resize: vertical; 
}

.sign-up h3{
    color: #054a29;
    font-weight: 500;
    font-size: 65px;
    margin-left: 22%;
    margin-top: 10%;
}

.sign-up p{
    color: #52b788;
    font-size: 28px;
    margin-top: -8%;
    margin-left: 27%;
}

.sign-up p:hover{
    color: black;
}

.sign-up input, .sign-up button{
    border: 1.5px solid #52b788;
    border-radius: 20px;
    width: 550px;
    height: 40px;
    margin-top: 1.5%;
}

.sign-up button:hover{
    border: 2px solid black;
    color: #52b788;
}

/*Social Media*/
.social{
margin-left: 55.5%;
margin-bottom: 6%;
}

.social h3{
    color: black;
    font-size: 36px;
    font-weight: 300;
    margin-top: -50%; 
}

/*Icons*/
.fa{
    color: #52b788;
    font-size: 97px;
    margin-left: 1% ;
}

.fa:hover{
    color: black;
}




/*Lower div container*/
.events{
    margin-bottom: 10%;
    margin-top: 11%;
    width: 900px;
}

.events h3{
    color: #054a29;
    font-weight: 500;
    font-size: 65px;
    margin-left: 31%;
}

.events table{
   margin-top: 7%;
   margin-left: 4%;
}

.events th{
    font-weight: 300;
    color: #52b788;
    padding-bottom: 50px;
    padding-left: 95px;
}

.events th:hover {
color: black;
}

.events tr td{
padding-right: 20px;
padding-bottom: 15px;
padding-top: 13px;
padding-left: 109px;
}

/*Hours*/

.hours {
    margin-left: 60%;
    margin-top: -48.5%;
    margin-bottom: 10%;
}

.hours h3{
color: #054a29;
font-weight: 500;
font-size: 65px;
margin-left: 29.5%;
}

.hours tr td{
padding: 76px ;
padding-bottom: 15px;
padding-top: 13px;
padding-left: 60px;
}

/*Footer*/
.footer-container{
    color: #054a29;
    text-align: center;
}

.footer-container p{
    margin-top: 2%;
}

